@import "../../styles.scss";
.fullscreen {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "display portfolio portfolio portfolio"
      "display portfolio portfolio portfolio"
      "display portfolio portfolio portfolio"; 
      .display {
           grid-area: display; 
           height: 100vh;
           overflow: auto;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
      .portfolio { 
          grid-area: portfolio;
        height: 100vh;
        overflow: auto; }
  }
  .resultarea{
    height: 200px;
    overflow: scroll;
  }
  .display{
    background-color: $primary-bgcolor;
  }