.rightside {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "graph graph graph"
      "graph graph graph"
      "stockarea stockarea stockarea"; 
      .graph { grid-area: graph; 

    }
      .stockarea { grid-area: stockarea; 
        height:calc(100vh/3);
       overflow: auto;}
      
  }
