<div class="portfolio">
    <div class="custom">
        <div class="list" #input>
            <ul>
                <li *ngFor="let stocks of allstocks; let i = index ">
                    <span class = "stockname">{{stocks.name}} &nbsp;&nbsp;₹{{stocks.pricedata[0].price}}</span>
                    <input  value="0" type="number" min="0" [(ngModel)]="quantity[i]"  (change)="onChange()">
                    <span class="percentage">
              
                        {{totalamount == 0 ? 0 :((stocks.pricedata[0]).price * quantity[i] *100/totalamount).toFixed(2)}}%

                    </span>
                    <button class="remove"> remove</button>
                </li>
            </ul>
        </div>
        <div class = "submit" (click)="quantityload()">submit</div>
    </div>
    <div class="result">
        <!-- {{quantity|json}}{{allstocks|json}} -->
    </div>
</div>
<app-graph [result] = "result"></app-graph>
