$margin : 10px;
.rightside {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "graph graph graph"
      "graph graph graph"
      "stockarea stockarea stockarea"; 
      .graph { grid-area: graph; 
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }
      .stockarea { grid-area: stockarea;
        margin:10px; 
        height:calc(100vh/3 ) ;
       overflow: auto;}
      
  }
