$primary : #0166FF;
$secondary :#002D70 ;
$background : #B1C5F6 ;
$grey : rgb(236, 236, 241);
$white: white;
$black: black;
$red:#F03218;


html,
body {
   margin: 0;
   padding: 0;
   background: $background;
}
*{
   margin: 0;
   padding: 0;
}
::-webkit-scrollbar {
   display: none;
 }